{{!-- {{#each uploads as |upload|}}
    <tr id="{{upload._id}}-uploads">
        <td>{{upload.title}}</td>
        <td><a href="{{upload.url}}">{{upload.url}}</a></td>
        <td>{{upload.tag}}</td>
        <td>
            {{#correctUser upload._id upload.currentUser._id upload.owner }}
            {{/correctUser}}
        </td>
    </tr>
{{/each}} --}}

<section class="bg-light display-uploads" id="portfolio">
    <div class="container showtable">
        <div class="row">
            <div class="col-lg-12 text-center">
              <h1 class="section-heading allFiles">All Files</h1>
                <div class="container-fluid">
                    <div class="row">
                        {{#each uploads as |upload|}}
                            <div class="col-md-4 col-sm-6 portfolio-item">
                                <div id="{{upload._id}}-uploads">
                                    <a class="image portfolio-box portfolio-link portfolio-hover" target="_blank" href="{{upload.url}}">
                                        <img class="img-fluid img" src="{{upload.url}}" alt="">
                                    </a>
                                    <div class="portfolio-caption">
                                        <h4>{{upload.title}}</h4>
                                        <h5>{{upload.tag}}</h5>
                                        {{#correctUser upload._id upload.currentUser._id upload.owner }}
                                        {{/correctUser}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>