{{#each uploads as |upload|}}
    <tr id="{{upload._id}}-uploads">
        <td>{{upload.title}}</td>
        <td><a href="{{upload.url}}">{{upload.url}}</a></td>
        <td>{{upload.tag}}</td>
        <td>
            {{#correctUser upload._id upload.currentUser._id upload.owner }}
            {{/correctUser}}
        </td>
    </tr>
{{/each}}